div {
  height: 50px;
  border: 1px solid red;
}
.frame {
	margin-top: 65px;
}
nav li {
	display: inline-block;
}
nav {
	background-color: #123456;
	position: fixed;
	width: 100%;
	top: 0;
	margin-top: 10px;
}
nav li a { 
  line-height: 50px;
  text-decoration: none;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
}
nav ul {
	margin: 0;
	text-align: center;
}